<!-- Import Polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Define your custom element -->
<polymer-element name="e-banner">

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="bundle.js"></script>

    <template>
      <style>
      #output {
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 4px;
      }
      </style>
      <pre id="output"></pre>
    </template>

</polymer-element>
